<h2>Player: <%= current_player.name %></h2>
<div id='game'>
  <canvas id='game_window' width='800' height='500'></canvas>
</div>

<div id='blank_player' class='player'></div>

<script>
  function draw_map() {
    <%= render :partial => 'draw_tile.js', :collection => @map.tile_list %>
  }
  function setup_map() {
    <% Player.active.each do |player| %>
      draw_player(<%= player.data %>);
    <% end %>
  }
</script>
<div id='player_data_<%= current_player.id%>'>
  <ul>
    <% %w{health strength}.each do |stat| %>
      <li>
        <%= stat.titleize %>: <span id='<%= stat %>' class ='stats'>x</span>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to 'Leave the game', '/game/leave' %>
<%= javascript_include_tag 'game_window' %>
<%= juggernaut %>
