<html>
  <head>
    <%= javascript_include_tag 'jquery', :juggernaut_jquery%>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom.css' %>
    <%= javascript_include_tag 'jquery-ui-1.7.2.custom.min.js' %>
    <%= javascript_include_tag 'interface.js' %>
    <%= javascript_include_tag 'game_window' %>
  </head>
  <body>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>